@model IEnumerable<Eazy.Tours.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-primary">Products</h2>
<div class="row pb-4">
    @foreach (var item in @Model)
    {
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image @item.Name">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Price: € @item.Price.ToString("0.00")</p>
                <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
@*<h2 class="text-primary">Services</h2>
<div class="row pb-4">
    @foreach (var item in @Model)
    {
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image @item.Name">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Price: € @item.Price.ToString("0.00")</p>
                <a asp-action="Details" asp-controller="Home" asp-route-productId="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>*@